@import '../mixins';
@import '../variables';

.placeContainer {
    user-select: none;
    padding: 0.3em;
    border: 1px solid $superDuperLightGrey;
    border-radius: 5px;
    display: flex;
    margin: 0.5em 0;
    &:hover {
        .sliderContainer {
            .arrow {
                display: flex;
            }
        }
    }
    .sliderContainer {
        width: 21vw;
        height: 100%;
        position: relative;
        .imageSlider {
            width: 100%;
            height: 200px;
            .currImage {
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                z-index: 1;
                transition: 0.5s;
            }
            .dummyImage {
                width: 100%;
                height: 100%;
                background-color: rgb(201, 201, 201);
                position: absolute;
                top: 0;
                z-index: -1;
            }
        }
        .arrow {
            @include flexFullCenter;
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            font-size: 25px;
            color: #fff;
            width: 40px;
            text-align: center;
            z-index: 2;
            &:hover {
                cursor: pointer;
            }
        }
        .left {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0))
        }
        .right {
            right: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40))
        }
    }
    .placeCardContainer {
        position: relative;
        width: calc(100% - 21vw);
    }
    a {
        width: 100%;
        .placeDetailContainer {
            padding: 1em;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .upperDetail {
                h4 {
                    @include card-category
                }
                h3 {
                    @include card-name;
                    font-size: 20%vw;
                }
                .detail {
                    font-size: 15px;
                    margin: 3px 0;
                }
            }
            .lowerDetail {
                .rating {
                    font-size: 13px;
                    span {
                        @include rating;
                        font-size: 14px;
                    }
                    strong {
                        font-size: 13px;
                    }
                }
                .price {
                    float: right;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
    }
}
@include mQ(1200px) {
    .placeContainer {
        .placeDetailContainer {
            .upperDetail {
                h4 {
                    font-size: 12px;
                }
                h3 {
                    font-size: 17px;
                }
                .detail {
                    font-size: 14px;
                }
            }
            .lowerDetail {
                .price {
                    font-size: 15px;
                }
            }
        }
    }
}