.placeDetail {
  width: 100vw; }
  .placeDetail .placePhoto {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #202020; }
    .placeDetail .placePhoto > div {
      width: calc(100% / 3);
      height: 300px;
      overflow: hidden;
      border: 1px inset #bdbdbd;
      opacity: 1; }
      .placeDetail .placePhoto > div img {
        width: 100%;
        height: inherit;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .placeDetail .placePhoto > div img:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15); }
    .placeDetail .placePhoto:hover > div:not(:hover) {
      -webkit-animation: fade-in 0.5s;
      animation: fade-in 0.5s;
      opacity: 0.6; }
  .placeDetail .placeInformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0 5%; }
    .placeDetail .placeInformation .left, .placeDetail .placeInformation .right {
      padding: 20px; }
    .placeDetail .placeInformation .left {
      width: 60%; }
      .placeDetail .placeInformation .left #name {
        font-family: inherit;
        font-size: 16pt;
        font-weight: 500; }
      .placeDetail .placeInformation .left > div {
        margin: 15px; }
    .placeDetail .placeInformation .right {
      width: 40%; }
      .placeDetail .placeInformation .right > div {
        margin: 10px;
        border: 2px solid #bdbdbd;
        padding: 10px; }
      .placeDetail .placeInformation .right .booking #reserveBtn {
        border-radius: 3px;
        width: inherit;
        text-align: center;
        border: 1px solid #ff5a5f;
        padding: 5px;
        background-color: #ff5a5f;
        color: white; }
      .placeDetail .placeInformation .right .booking > div {
        margin: 15px; }
      .placeDetail .placeInformation .right .booking .hr {
        width: inherit;
        border: 1px solid #bdbdbd; }
      .placeDetail .placeInformation .right .booking .reviews {
        height: 10px; }
      .placeDetail .placeInformation .right .booking input[type="date"] {
        color: #3b3b3b; }
      .placeDetail .placeInformation .right .booking input {
        font-size: 1em;
        padding: 0.7em;
        border: 0.8px solid #bdbdbd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
        font-size: 20px; }
        .placeDetail .placeInformation .right .booking input:focus {
          border-color: #0d848d; }
      .placeDetail .placeInformation .right .booking #checkinout {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        pointer-events: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        border: 2px solid #bdbdbd;
        border-radius: 5px; }
        .placeDetail .placeInformation .right .booking #checkinout > div {
          cursor: pointer;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          padding: 5px;
          pointer-events: all;
          width: 50%;
          text-align: center; }
          .placeDetail .placeInformation .right .booking #checkinout > div .inputDate {
            max-height: 0;
            overflow: hidden;
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-delay: 0.5s;
            -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
            position: absolute;
            opacity: 0; }
        .placeDetail .placeInformation .right .booking #checkinout #checkin {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; }
        .placeDetail .placeInformation .right .booking #checkinout #checkout {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; }
        .placeDetail .placeInformation .right .booking #checkinout:hover {
          background-color: #868686; }
          .placeDetail .placeInformation .right .booking #checkinout:hover > div:hover {
            background-color: #bdbdbd;
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s; }
            .placeDetail .placeInformation .right .booking #checkinout:hover > div:hover .inputDate {
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              transition-delay: 0s;
              overflow: visible;
              max-height: 300px;
              opacity: 1; }
          .placeDetail .placeInformation .right .booking #checkinout:hover #checkout:hover {
            -webkit-box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.62);
            box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.62); }
          .placeDetail .placeInformation .right .booking #checkinout:hover #checkin:hover {
            -webkit-box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.62);
            box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.62); }
      .placeDetail .placeInformation .right .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .placeDetail .placeInformation .right .price #price {
          font-weight: 500;
          font-size: 16pt; }
        .placeDetail .placeInformation .right .price > div {
          bottom: 0; }

@-webkit-keyframes fade-out {
  from {
    opacity: 0.6; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 0.6; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  from {
    opacity: 1; }
  to {
    opacity: 0.6s; } }

@keyframes fade-in {
  from {
    opacity: 1; }
  to {
    opacity: 0.6s; } }

@media screen and (max-width: 1100px) {
  .placeDetail .placePhoto > div {
    width: calc(100% / 2);
    height: 350px; } }

@media screen and (max-width: 750px) {
  .placeDetail .placePhoto > div {
    width: 100%;
    height: 350px; }
  .placeDetail .placePhoto #id5, .placeDetail .placePhoto #id6 {
    display: none; } }
