@import '../mixins';
@import '../variables';

.wishlist-detail-container {
    font-weight: 500;
    display: flex;
    align-items: stretch;
    .wishlist-map {
        width: 65%;
        .map-container {
            height: 100%;
            top: 83px;
            height: calc(100vh - 83px);
            @include mQ(1100px) { 
                top: 59px;
                height: calc(100vh - 59px);
            }
            position: sticky;
            .container {
                height: 100%;
                position: relative;
                .gmap-notice {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 30px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
                }
            }
        }
    }
    .wishlist-detail {
        width: 35%;
        padding: 1.5em 2em;
        >a {
            @include blueGreenLink;
            font-size: 20px;
        }
        .detail-header {
            margin-top: 2em;
            .header-detail {
                color: $darkGrey;
                font-weight: normal;
            }
        }
        .pane-container {
            margin-top: 1.5em;
            width: 100%;
            display: flex;
            border-bottom: 1px solid $superDuperLightGrey;
            >button {
                padding: 2em 0;
                margin-right: 2em;
                border-bottom: 3px solid transparent;
                transition: 0.3s;
                &:hover {
                    border-bottom-color: $blueGreen;
                }
            }
            .active { 
                border-bottom-color: $blueGreen;
            }
        }
        .wishlist-content {
            .notice {
                font-size: 20px;
                margin: 1.5em 0;
            }
            .experienceDetailContainer {
                display: flex;
                .experienceCardContainer { 
                    margin: 10px 7px;
                    width: calc(50% - 14px);
                }
                a {
                    width: 100% !important;
                    margin: 0 !important;
                    .experienceCard {
                        width: 100%;
                        margin: 0;
                        .experience-image {
                            width: 100%;
                        }
                    }
                    @include mQ(750px) {
                        margin: 10px 2vw;
                        width: calc(50% - 4vw);
                        .experienceCard {
                            .experience-image {
                                @include mQ(750px) {
                                    height: 55vw;
                                }
                            }
                        }
                    }
                }
            }
            .content-header {
                font-size: 20px;
                margin: 1em 0;
                font-weight: 700;
            }
            .placeContainer {
                flex-direction: column;
                margin: 1.2em 0;
                .placeCardContainer { 
                    width: 100%;
                }
                .sliderContainer{
                    width: 100%;
                    .imageSlider {
                        height: 330px;
                        @include mQ(1100px) {
                            height: 220px;
                        }
                        @include mQ(750px) {
                            height: 60vw;
                        }
                    }
                }
                a {
                    width: 100%;
                }
            }
        }
    }
}
@include mQ(1100px) {
    .wishlist-detail-container {
        .wishlist-map {
            width: 55%;
        }
        .wishlist-detail {
            width: 45%;
        }
    }
}
@include mQ(750px) {
    .wishlist-detail-container {
        .wishlist-map {
            display: none;
        }
        .wishlist-detail {
            width: 100%;
        }
    }
}