#EHFirstStarted {
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center; }
  #EHFirstStarted h1 {
    color: #008489; }
  #EHFirstStarted > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  #EHFirstStarted .left {
    width: 60%;
    padding: 10% 10%; }
    #EHFirstStarted .left > div {
      width: 100%;
      margin: 3%;
      text-align: left; }
    #EHFirstStarted .left .nextBtn {
      padding: 10px;
      color: white;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1x solid #008489;
      background-color: #008489;
      border-radius: 5px;
      text-align: center;
      cursor: pointer; }
    #EHFirstStarted .left .buttonContainer {
      display: flex; }
      #EHFirstStarted .left .buttonContainer > div {
        margin-right: 10px; }
  #EHFirstStarted .right {
    width: 40%; }
    #EHFirstStarted .right > img {
      width: 100%;
      height: auto; }
