#EHGetStarted {
  opacity: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s; }
  #EHGetStarted .coolCheck > svg {
    height: "fit-content";
    width: "fit-content";
    display: "block";
    fill: #008489;
    transform: scale(1.5); }
  #EHGetStarted > .left {
    padding: 1.2em;
    height: 90vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 20%; }
    #EHGetStarted > .left > .head-sec {
      width: 100%; }
      #EHGetStarted > .left > .head-sec > p {
        margin: .5em 0; }
      #EHGetStarted > .left > .head-sec > .section {
        display: flex;
        width: 100%;
        padding: 0 1em;
        margin: 2em 0; }
        #EHGetStarted > .left > .head-sec > .section > .head {
          width: 80%;
          min-height: 24px;
          padding: 0 .2em; }
        #EHGetStarted > .left > .head-sec > .section > .checkbox {
          width: 20%;
          align-items: center;
          display: flex; }
          #EHGetStarted > .left > .head-sec > .section > .checkbox input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center; }
            #EHGetStarted > .left > .head-sec > .section > .checkbox input[type="checkbox"]:not(:checked) + div {
              background-color: #008489; }
            #EHGetStarted > .left > .head-sec > .section > .checkbox input[type="checkbox"]:not(:checked) + div {
              display: none; }
          #EHGetStarted > .left > .head-sec > .section > .checkbox .coolCheck {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transform: scale(0.75); }
  #EHGetStarted > .right {
    height: 90vh;
    overflow-y: scroll;
    width: 80%; }
    #EHGetStarted > .right > .input-section {
      padding: 0 2em; }
      #EHGetStarted > .right > .input-section > * {
        margin: 1.5em 0; }
      #EHGetStarted > .right > .input-section textarea {
        width: 100%; }
      #EHGetStarted > .right > .input-section .photosInput {
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: .3em .5em;
        font-size: 20px;
        min-height: 50vh; }
        #EHGetStarted > .right > .input-section .photosInput > h4 {
          color: #008489;
          top: -.65em;
          left: 3.4em;
          position: absolute;
          background-color: white;
          padding: 0 .25em; }
        #EHGetStarted > .right > .input-section .photosInput > div {
          min-height: 45vh;
          padding: 1.5em 1em;
          display: flex;
          flex-flow: wrap; }
        #EHGetStarted > .right > .input-section .photosInput > input[type="file"] {
          color: black;
          font-size: 0pt;
          padding: 6px 8px; }
          #EHGetStarted > .right > .input-section .photosInput > input[type="file"]::-webkit-file-upload-button {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1x solid #3b3b3b;
            background-color: transparent;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            padding: 6px 8px;
            color: black;
            margin: 0;
            font-size: 8pt; }
            #EHGetStarted > .right > .input-section .photosInput > input[type="file"]::-webkit-file-upload-button:hover {
              background-color: #bdbdbd; }
      #EHGetStarted > .right > .input-section input[type="text"], #EHGetStarted > .right > .input-section input[type="number"], #EHGetStarted > .right > .input-section textarea {
        border-radius: 5px;
        padding: .3em .5em;
        font-size: 20px;
        resize: none;
        transition: all .15s linear; }
        #EHGetStarted > .right > .input-section input[type="text"] + div, #EHGetStarted > .right > .input-section input[type="number"] + div, #EHGetStarted > .right > .input-section textarea + div {
          position: absolute;
          top: .15em;
          left: 2.8em;
          pointer-events: none;
          font-size: 20px;
          color: #868686;
          transition: all .15s linear;
          background-color: white;
          padding: 2px 5px;
          transform-origin: left; }
        #EHGetStarted > .right > .input-section input[type="text"]:hover, #EHGetStarted > .right > .input-section input[type="number"]:hover, #EHGetStarted > .right > .input-section textarea:hover {
          border-color: #008489; }
          #EHGetStarted > .right > .input-section input[type="text"]:hover + div, #EHGetStarted > .right > .input-section input[type="number"]:hover + div, #EHGetStarted > .right > .input-section textarea:hover + div {
            color: #008489; }
        #EHGetStarted > .right > .input-section input[type="text"]:focus, #EHGetStarted > .right > .input-section input[type="text"]:not(:placeholder-shown), #EHGetStarted > .right > .input-section input[type="number"]:focus, #EHGetStarted > .right > .input-section input[type="number"]:not(:placeholder-shown), #EHGetStarted > .right > .input-section textarea:focus, #EHGetStarted > .right > .input-section textarea:not(:placeholder-shown) {
          border-color: #008489; }
          #EHGetStarted > .right > .input-section input[type="text"]:focus + div, #EHGetStarted > .right > .input-section input[type="text"]:not(:placeholder-shown) + div, #EHGetStarted > .right > .input-section input[type="number"]:focus + div, #EHGetStarted > .right > .input-section input[type="number"]:not(:placeholder-shown) + div, #EHGetStarted > .right > .input-section textarea:focus + div, #EHGetStarted > .right > .input-section textarea:not(:placeholder-shown) + div {
            color: #008489;
            transform: translateY(-1em) scale(0.5); }
      #EHGetStarted > .right > .input-section > .input {
        position: relative;
        padding: 0 3em; }
