.filterBar {
  border-bottom: 0.6px solid #bdbdbd;
  padding: 8px 6vw;
  position: -webkit-sticky;
  position: sticky;
  top: 82.59px;
  background: #fff;
  z-index: 6; }
  .filterBar .filterCategory {
    display: inline-block;
    position: relative; }
    .filterBar .filterCategory #bullet {
      font-weight: 600;
      color: #fff; }
    .filterBar .filterCategory .guestInputContent {
      margin-top: 9px;
      width: 400px; }
    .filterBar .filterCategory .filter {
      position: absolute;
      background: #fff;
      -webkit-box-shadow: 0px 11px 28px -14px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 11px 28px -14px rgba(0, 0, 0, 0.75);
      overflow: hidden;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      margin-top: 7px;
      padding: 1.5em;
      width: 450px;
      height: 190px; }
      .filterBar .filterCategory .filter .rangeContainer {
        position: relative; }
        .filterBar .filterCategory .filter .rangeContainer .apply {
          margin-top: 1em;
          margin-right: 0.5em; }
        .filterBar .filterCategory .filter .rangeContainer .range {
          margin-top: 1.5em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 1.5em; }
          .filterBar .filterCategory .filter .rangeContainer .range span {
            width: 25px;
            height: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 600; }
          .filterBar .filterCategory .filter .rangeContainer .range .priceRange {
            width: 49.7%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: 1px solid #e6e6e6; }
            .filterBar .filterCategory .filter .rangeContainer .range .priceRange .currencySymbol {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              padding: 0.7em 0;
              width: 35px;
              font-weight: 600;
              font-size: 20px; }
            .filterBar .filterCategory .filter .rangeContainer .range .priceRange input {
              padding-left: 0.4em !important;
              width: 85%;
              border: none; }
  .filterBar button {
    background: #fff;
    border: 0.6px solid #bdbdbd;
    padding: 8px 15px;
    color: #868686;
    font-size: 15px;
    margin-right: 13px;
    border-radius: 3px; }

.experienceContainer {
  padding: 40px 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }
  .experienceContainer .none {
    width: 100%;
    font-size: 30px;
    text-align: center; }

@media screen and (max-width: 1200px) {
  .filterBar {
    top: 59.2px; } }

@media screen and (max-width: 1000px) {
  .filterBar .priceFilterSummary {
    font-size: 13px; }
  .filterBar button {
    padding: 8px 12px;
    font-size: 15px;
    margin-right: 5px; }
  .filterBar .range {
    padding: 0 0.2em !important; }
  .filterBar .priceRange .currencySymbol {
    font-size: 13px !important; }
  .filterBar .priceRange input {
    font-size: 13px; } }

@media screen and (max-width: 750px) {
  .experienceCard {
    width: 26vw; }
    .experienceCard .experience-image {
      height: 33.5vw; }
    .experienceCard .card-title {
      font-size: 15px; }
    .experienceCard .card-category {
      font-size: 12.5px; }
    .experienceCard .card-rating, .experienceCard .star {
      font-size: 12px; }
    .experienceCard .card-review {
      font-size: 13px; } }
