.filterBar {
  border-bottom: 0.6px solid #bdbdbd;
  padding: 8px 6vw; }
  .filterBar button {
    background: #fff;
    border: 0.6px solid #bdbdbd;
    padding: 9px 15px;
    color: #868686;
    font-size: 15px;
    margin-right: 13px; }

.experienceContainer {
  padding: 40px 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .experienceContainer .experienceCard {
    position: relative;
    width: 13.4vw; }
    .experienceContainer .experienceCard .btnFavorite {
      color: #fff;
      font-size: 35px !important; }
    .experienceContainer .experienceCard .experience-image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 19vw;
      border-radius: 4px; }
    .experienceContainer .experienceCard .card-title {
      word-wrap: break-word;
      font-size: 18px;
      font-weight: 600;
      margin: 0.4em 0; }
    .experienceContainer .experienceCard .card-category {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 0.2em;
      font-weight: 400;
      font-size: 15px; }
    .experienceContainer .experienceCard .card-rating, .experienceContainer .experienceCard .star {
      color: #0d8d78;
      font-size: 17px;
      font-size: 14px;
      font-weight: 600; }
    .experienceContainer .experienceCard .card-review {
      font-size: 15px;
      font-size: 13px; }
