.filter {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0px 11px 28px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 28px -14px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: 7px;
  padding: 1.5em; }
  .filter .gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto; }
    .filter .gridContainer .container {
      display: block;
      cursor: pointer;
      font-size: 18px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px; }
      .filter .gridContainer .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
        .filter .gridContainer .container input:checked ~ .checkmark {
          background-color: #098e97 !important; }
        .filter .gridContainer .container input:checked ~ .checkmark:after {
          display: block; }
      .filter .gridContainer .container .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee; }
        .filter .gridContainer .container .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      .filter .gridContainer .container:hover input ~ .checkmark {
        background-color: #ccc; }
  .filter .apply {
    margin-top: 10px; }

@media screen and (max-width: 1100px) {
  .language-filter {
    width: 41vw !important; }
    .language-filter .container {
      padding-left: 30px !important; } }

@media screen and (max-width: 750px) {
  .language-filter {
    width: 33vw !important;
    overflow: scroll !important; }
    .language-filter .gridContainer {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto;
      grid-template-columns: auto; }
      .language-filter .gridContainer .checkmark {
        height: 20px !important;
        width: 20px !important; }
        .language-filter .gridContainer .checkmark:after {
          left: 6px !important;
          top: 2px !important; }
      .language-filter .gridContainer .container {
        font-size: 15px;
        padding-left: 25px !important; } }
