@import '../variables.scss';
@import '../mixins.scss';

#imagesNavigation {
    display: none;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: rgba(0,0,0,0.7);
    padding: 1.5em 2em !important;
    >div{
        width: 100%;
        height: 100%;
        padding: 0.5em;
        opacity: 0;
        >div{
            width: inherit;
            height: calc(100% * (4 / 5));
        }
        #imageHolder{
            display: flex;
            padding: 2em;
            justify-content: center;
            text-align: center;
            #mid{
                >img{
                    border-radius: 10px;
                    max-width: calc(100% * (2 / 3));
                    max-height: calc(100% * (4 / 5))
                }
            }
            #l, #r{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                height: calc(100% - (1.5em + 2.5em));
                width: calc(50% - 2.5em);
                font-size: 24pt;
                >img{
                    position: absolute;
                    // height: calc(100% - (1.5em + 2.5em));
                    // width: calc(50% - 2.5em);
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                }
            }
            #l{
                text-align: left;
                left: 2.5em;
            }
            #r{
                text-align: right;
                right: 2.5em;
            }
        }
    }
}