#star-container{
    position: relative;
    height: inherit;
    .star{
        position: absolute;
        display: flex;
        height: inherit;
        >img{
            width: auto;
            height: inherit;
        }
    }
}