.wishlist-detail-container {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .wishlist-detail-container .wishlist-map {
    width: 65%; }
    .wishlist-detail-container .wishlist-map .map-container {
      height: 100%;
      top: 83px;
      height: calc(100vh - 83px);
      position: -webkit-sticky;
      position: sticky; }
      .wishlist-detail-container .wishlist-map .map-container .container {
        height: 100%; }
  .wishlist-detail-container .wishlist-detail {
    width: 35%;
    padding: 1.5em 2em; }
    .wishlist-detail-container .wishlist-detail > a {
      color: #098e97;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 1.5px solid transparent;
      font-size: 20px; }
      .wishlist-detail-container .wishlist-detail > a:hover {
        border-bottom-color: #0bb2be;
        color: #0ba9b4; }
    .wishlist-detail-container .wishlist-detail .detail-header {
      margin-top: 2em; }
      .wishlist-detail-container .wishlist-detail .detail-header .header-detail {
        color: #3b3b3b;
        font-weight: normal; }
    .wishlist-detail-container .wishlist-detail .pane-container {
      margin-top: 1.5em;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #e6e6e6; }
      .wishlist-detail-container .wishlist-detail .pane-container > button {
        padding: 2em 0;
        margin-right: 2em;
        border-bottom: 3px solid transparent;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .wishlist-detail-container .wishlist-detail .pane-container > button:hover {
          border-bottom-color: #008489; }
      .wishlist-detail-container .wishlist-detail .pane-container .active {
        border-bottom-color: #008489; }
    .wishlist-detail-container .wishlist-detail .wishlist-content .content-header {
      font-size: 20px;
      margin: 1em 0;
      font-weight: 700; }
    .wishlist-detail-container .wishlist-detail .wishlist-content .placeContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .wishlist-detail-container .wishlist-detail .wishlist-content .placeContainer .sliderContainer {
        width: 100%; }
        .wishlist-detail-container .wishlist-detail .wishlist-content .placeContainer .sliderContainer .imageSlider {
          height: 330px; }
      .wishlist-detail-container .wishlist-detail .wishlist-content .placeContainer a {
        width: 100%; }
