@import '../variables.scss';
@import '../mixins.scss';

#outerBasics{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        width: 50%;
        height: 100%;
    }
    >div:first-child{
        background-color: white;
    }
}

#PHBasicSection{
    #map{
        img {
            width: 100%;
            height: 100%;
        }
    }
    padding: 3em 2em;
    overflow-y: scroll;
    >div{
        width: 100%;
        margin: 1em 0;
        >div{
            margin: 2em 1.5em;
        }
    }
    select, input[type="text"], input[type="number"], input[type="button"]{
        -webkit-appearance: none;
        width: 100%;
        font-family: inherit;
        padding: 8px;
        font-size: 12pt;
        font-weight: 500;
        border: 1px solid $darkGrey;
        border-radius: 5px;
        background: none;
        color: $darkGrey;
        transition: all .15s ease;
        &:focus{
            + div{
                transform: translateY(-20px);
                font-size: 8pt;
                padding: 0 5px;
            }
        }
        &:not(:placeholder-shown){
            + div{
                color: $blueGreen;
                font-size: 8pt;
                transform: translateY(-20px);
                padding: 0 5px;
            }
        }
        &:hover{
            border-color: $blueGreen;
            + div{
                color: $blueGreen;
                font-size: 8pt;
                transform: translateY(-20px);
                padding: 0 5px;
            }
        }
    }
    input[type="button"]{
        cursor: pointer;
        background-color: $lightBlueGreen;
        color: white;
        border: none;
        &:hover{
            background-color: $blueGreen;
        }
    }
    #guestHave{
        margin: 0 2em;
        >div{
            >*{
                margin-right: 1em;
            }
        }
    }
    input[type="radio"]{
        width: fit-content;
    }
    .input{
        position: relative;
        margin: 1em 0;
        display: flex;
        align-items: center;
        >.label{
            transition: all 0.3s ease;
            margin: 0 9px;
            background-color: white;
            position: absolute;
            pointer-events: none;
        }
    }
    background-size: cover;
}

@include mQ(750px){
    #outerBasics{
        >div:first-child{
            width: 100%
        }
        >div:last-child{
            display: none;
        }
    }
}