.slidesContainer {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}
.slides {
    height: 100%;
    width: 100%;
    animation: fade 1.5s ease-in-out;
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}