.slidesContainer {
    z-index: -5;
    height: 100%;
    width: 100%;
    position: relative;
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 1.5s ease;
    }
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}