@import '../mixins';
@import '../variables.scss';
@import '../guestDropdown';

.quickCard {
    position: absolute;
    top: 10em;
    left: 4em;
    z-index: 5;
    padding: 2em;
    background-color: white;
    width: 510px;
    border-radius: 4px;
    box-shadow: 0px 0px 25px -9px rgba(51,51,51,1);
    .title {
        font-weight: 600;
        margin-bottom: 0.6em;
    }
    .input {
        display: inline-block;
        margin: 1em 0;
        width: 100%;
        position: relative;
    }
    .half {
        width: 50% !important;
    }
    input {
        @include input(1em);
        width: 100%;
        font-size: 20px;
    }
    input[disabled] {
        width: 95%;
        border: none;
    }
    input[type="submit"] {
        @include titleText;        
        width: auto;
        background: $lightRed;
        margin-top: 1em;
        color: white;
        float: right;
        padding: 15px 27px;
        border-radius: 6px;
        &:hover {
            cursor: pointer;
        }
    }
    input[type="date"]{
        color: $darkGrey;
    }
    .guestInput {
        background: white;
        display: flex;
        align-items: center;
        @include input(1em);
        padding: 0em;
        &:hover {
            cursor: pointer;
        }
        input {
            background: #fff;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .guestInputContent {
        width: 100%;
    }
}
.quickCardTitle { 
    font-weight: 700;
    font-size: 36px;
}
.search-container {
    width: 100%;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 6px 20px -9px rgba(51,51,51,1);
    background: #fff;
    >li {
        width: 100%;
        padding: 0.8em 0.5em;
        font-size: 17px;
        transition: 0.2s;
        @include flexFullCenter;
        span {
            height: 100%;
            width: 7%;
            font-size: 20px;
        }
        div {
            display: inline-block;
            width: 90%;
            height: 100%;
        }
        &:hover {
            cursor: pointer;
            background-color: $superDuperLightGrey;
        }
    }
}