@import '../mixins';
@import '../variables';

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.cards {
    width: 24%;
    img {
        width: 100%;
    }
}
.recomContainer {
    margin: 2em 4em;
}