@import '../mixins';
@import '../variables';

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 100%;
}
.placeCard {
    width: 24%;
    margin: 8px 0.5% !important;
    img {
        width: 100%;
        height: 16vw;
    }
}
.place h2 {
    margin-bottom: 1em;
}

.recomContainer {
    margin: 2em 0;
    .showMore {
        color: $blueGreen;
        font-size: 17px;
        font-weight: 600;
        margin-top: 10px;
        display: inline-block;
    }
    div {
        margin: 2px 0;
    }
    .card-category {
        @include card-category
    }
    .card-name {
        @include card-name
    }
    .card-price {
        @include card-price
    }
    .card-review {
        @include card-review
    }
    span {
        @include rating
    }
}
@include mQ(1100px) {
    .placeCard {
        width: 32%;
        height: 70%;
        img {
            height: 26vw;
        }
    }
}
@include mQ(750px) {
    .placeCard {
        width: 49%;
        height: 80%;
    }
}