@import '../mixins';
@import '../variables';

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.cards {
    width: 24%;
    margin: 10px 0;
    img {
        width: 100%;
    }
}
.recomContainer {
    margin: 2em 4em;
}