@import 'mixins';
@import 'variables';

.bnbLogo {
    width: 50px;
    height: 50px;
    margin: 0.8em 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.6px solid $lightGrey;
    header-component {
        display: flex;
        justify-content: space-evenly;
    }
}
.header-content {
    @include flexFullCenter;
}
.searchBox {
    @include flexFullCenter;
    padding: 4px;
    border: 2px solid rgba(212, 212, 212, 0.568);
    border-radius: 10px;
    box-shadow: 0px 0px 8px -6px rgba(115,115,115,1);
    img {
        width: 30px;
        margin: 0 12px;
    }
    input {
        padding: 0.4em 0;
        width: 300px;
        border: none;
        font-size: 17px;
        transition: 0.6s width;
        &:focus {
            width: 500px;
        }
    }
}
.navbar-link {
    @include flexFullCenter;
    height: 100%;
    text-align: center;
    font-size: 15px;
    a {
        display: inline-block;
        color: $darkGrey;
        font-weight: 500;
        padding: 30px 15px;
        &:hover {
            border-bottom: 2px solid black;
        }
    }
}