@import "mixins";
@import "variables";

.emailLoginTop {
    text-align: center;
    width: 100%;
    .oauthLoginLink {
        color: $blueGreen;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
    }
}
.offer {
    margin: 13px 0;
    font-size: 15px;
}