$darkGrey: rgb(59, 59, 59);
$mediumGrey: rgb(114, 114, 114);
$lightGrey: rgb(134, 134, 134);
$superLightGrey: rgb(189, 189, 189);
$superDuperLightGrey: rgb(230, 230, 230);
$lightRed: rgb(255, 82, 59);
$blueGreen2: rgb(13, 132, 141);
$darkBlueGreen: rgb(14, 97, 55);
$fbBlue: rgb(57, 85, 159);
$lightBlueGreen: rgb(9, 142, 151);
$lightRed: rgb(255, 47, 19);
$pinkRed: rgb(255, 90, 95);
$blueGreen: #008489;
