.chats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .messages-container {
        .message-container {
            display: flex;
            margin: 1.5em;
            img { 
                width: 70px;
            }
            .message-content {
                width: 100%;
                border: 1px solid $lightGrey;
                border-radius: 10px;
                padding: 0.7em;
            }
        }
        .theirs {
            flex-direction: row-reverse;
            img {   
                margin-left: 20px;
                margin-right: 0;
            }
            .message-content {
                background-color: $superDuperLightGrey;
            }
        }
    }
    .input-container {
        display: flex;
        textarea {
            width: 100%;
            padding: 9px;
            font-family: sans-serif;
            font-size: 16px;
        }
        button {
            font-size: 18px;
            padding: 0.3em 0.5em;
        }
    }
}