.chats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .messages-container {
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        .message-container {
            width: 100%;
            display: flex;
            align-items: center;
            margin: 1.5em;
            animation: fadeIn 0.5s;
            @keyframes fadeIn {
                from {opacity: 0}
                to {opacity: 1}
            }
            >div {
                width: 100%;
                small {
                    font-size: 12px;
                }
            }
            img { 
                width: 70px;
                margin-right: 20px;
                @include mQ(750px) {
                    width: 55px;
                }
            }
            .message-content {
                width: fit-content;
                max-width: calc(100% - 120px);
                border: 1px solid $lightGrey;
                border-radius: 10px;
                padding: 0.7em;
                border-top-left-radius: 0;
                line-break: auto;
                word-wrap: break-word;
            }
        }
        .theirs {
            flex-direction: row-reverse;
            padding-right: 35px;
            >div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            img {   
                margin-left: 20px;
                margin-right: 0;
            }
            .message-content {
                background-color: $superDuperLightGrey;
                border-top-right-radius: 0;
                border-top-left-radius: 10px;
            }
        }
    }
    .emoji-mart {
        width: 100% !important;
    }
    .input-container {
        display: flex;
        position: relative;
        .emoji {
            @include flexFullCenter;
            padding: 0 5px;
            font-size: 20px;
            cursor: pointer;
        }
        input[type="text"] {
            width: 100%;
            padding: 9px;
            font-family: sans-serif;
            font-size: 16px;
        }
        input[type="submit"] {
            font-size: 18px;
            width: auto;
            padding: 0.6em 1em;
        }
    }
}