@import '../mixins.scss';
@import '../variables.scss';
@import './chatCard.scss';

.chat-container {
    padding: 2em 0;
    .title {
        font-size: 23px;
        text-align: center;
        padding: 2em 0;
    }
    .filter-container {
        padding: 0 19vw;
        height: 53px;
        margin-bottom: 8px;
        #chat-filter {
            float: right;
            padding: 0.7em 2.5em 0.7em 0.5em;
            font-size: 16px;
        }
    }
    @include mQ(750px) {
        .title {
            >h1 { 
                display: block !important;
            }
        }
        .filter-container {
            padding: 0 9vw;
        }
    }
}