.chats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .messages-container {
        overflow: scroll;
        overflow-x: hidden;
        .message-container {
            display: flex;
            align-items: center;
            margin: 1.5em;
            >div {
                width: 100%;
                small {
                    font-size: 12px;
                }
            }
            img { 
                width: 70px;
                margin-right: 20px;
            }
            .message-content {
                width: min-content;
                border: 1px solid $lightGrey;
                border-radius: 10px;
                padding: 0.7em;
                border-top-left-radius: 0;
            }
        }
        .theirs {
            flex-direction: row-reverse;
            >div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            img {   
                margin-left: 20px;
                margin-right: 0;
            }
            .message-content {
                background-color: $superDuperLightGrey;
                border-top-right-radius: 0;
                border-top-left-radius: 10px;
            }
        }
    }
    .input-container {
        display: flex;
        input[type="text"] {
            width: 100%;
            padding: 9px;
            font-family: sans-serif;
            font-size: 16px;
        }
        input[type="submit"] {
            font-size: 18px;
            width: auto;
            padding: 0.6em 1em;
        }
    }
}