.chats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .chats-container .messages-container {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden; }
    .chats-container .messages-container .message-container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 1.5em;
      -webkit-animation: fadeIn 0.5s;
      animation: fadeIn 0.5s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      .chats-container .messages-container .message-container > div {
        width: 100%; }
        .chats-container .messages-container .message-container > div small {
          font-size: 12px; }
      .chats-container .messages-container .message-container img {
        width: 70px;
        margin-right: 20px; }
      .chats-container .messages-container .message-container .message-content {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        max-width: calc(100% - 120px);
        border: 1px solid #868686;
        border-radius: 10px;
        padding: 0.7em;
        border-top-left-radius: 0;
        line-break: auto;
        word-wrap: break-word; }
    .chats-container .messages-container .theirs {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      padding-right: 35px; }
      .chats-container .messages-container .theirs > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
      .chats-container .messages-container .theirs img {
        margin-left: 20px;
        margin-right: 0; }
      .chats-container .messages-container .theirs .message-content {
        background-color: #e6e6e6;
        border-top-right-radius: 0;
        border-top-left-radius: 10px; }
  .chats-container .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .chats-container .input-container input[type="text"] {
      width: 100%;
      padding: 9px;
      font-family: sans-serif;
      font-size: 16px; }
    .chats-container .input-container input[type="submit"] {
      font-size: 18px;
      width: auto;
      padding: 0.6em 1em; }

.chat-detail-container {
  padding: 2.5em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1100px) {
    .chat-detail-container {
      padding: 1.5em 1em; } }
  @media screen and (max-width: 750px) {
    .chat-detail-container {
      padding: 0; }
      .chat-detail-container .chats-container {
        width: 100% !important; }
      .chat-detail-container .details {
        display: none !important; } }
  .chat-detail-container .chats-container {
    width: calc((100% - 7vw) * 3 / 5);
    height: 694px; }
  .chat-detail-container .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc((100% - 7vw) * 2 / 5);
    padding: 2em;
    border: 3px solid #bdbdbd;
    margin-right: 7vw; }
    .chat-detail-container .details .section {
      padding: 8px 0;
      width: 100%; }
      .chat-detail-container .details .section .title {
        color: #868686; }
      .chat-detail-container .details .section .address {
        height: 3em;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden; }
    .chat-detail-container .details .host-profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .chat-detail-container .details .host-profile img {
        margin: 5px 0;
        width: 100px; }
      .chat-detail-container .details .host-profile .small-detail {
        font-size: 14px; }
    .chat-detail-container .details .check-in-out {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-bottom: 2px solid #bdbdbd;
      padding-bottom: 15px;
      margin-bottom: 10px; }
      .chat-detail-container .details .check-in-out .big-more-than {
        width: 45px;
        font-size: 30px;
        color: #bdbdbd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .chat-detail-container .details .payment .payment-title {
      margin-bottom: 20px; }
    .chat-detail-container .details .payment .payment-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 2px 0; }
    .chat-detail-container .details .payment hr {
      border-width: 2px; }
