.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  width: 100%; }

.placeCard {
  width: 24%;
  margin: 8px 0.5% !important; }
  .placeCard img {
    width: 100%;
    height: 16vw; }

.place h2 {
  margin-bottom: 1em; }

.recomContainer {
  margin: 2em 0; }
  .recomContainer .showMore {
    color: #008489;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block; }
  .recomContainer div {
    margin: 2px 0; }
  .recomContainer .card-category {
    font-size: 13px;
    font-weight: 600; }
  .recomContainer .card-name {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 1.3em;
    font-size: 18px;
    font-weight: 600; }
  .recomContainer .card-price {
    font-size: 16px; }
  .recomContainer .card-review {
    font-size: 15px; }
  .recomContainer span {
    color: #0d848d;
    font-size: 17px; }

@media screen and (max-width: 1100px) {
  .placeCard {
    width: 32%;
    height: 70%; }
    .placeCard img {
      height: 22  vw; } }

@media screen and (max-width: 750px) {
  .placeCard {
    width: 49%;
    height: 80%; } }
